{% assign image = page.footer | default: site.footer %}
{% assign dark = page.footer-dark | is_nil: site.footer-dark | is_nil: true %}

<footer
  class="background"
  style="--image: url('{{ image | relative_url | uri_escape }}')"
  {% if dark == true or dark == false %}
    data-dark="{{ dark }}"
  {% endif %}
  data-size="wide"
>
  <div>
    {% for link in site.links %}
      {% assign key = link[0] %}
      {% assign value = link[1] %}
      {% include button.html type=key text="" link=value style="bare" %}
    {% endfor %} &nbsp;
    <!-- | &nbsp;
  <img 
    src="{{ 'images/ICS_HSG-LogoWithWhiteBackground.png' | relative_url }}" 
    alt="Lab Logo" 
    style="max-height: 42px; width: auto; max-width: 100%; vertical-align: middle;"
  >
  &nbsp;   -->
  
</div>




  <div style="text-align: center;">
    &copy; {{ site.time | date: "%Y" }}
    by <a href="https://ics.unisg.ch/chairs/siegfried-handschuh-data-science-and-natural-language-processing/"> 
      Data Science and Natural Language Processing
    </a> at HSG
    &nbsp; | &nbsp;
    <a href="https://github.com/unisg-ics-dsnlp">
    DS-NLP GitHub
    </a>
    &nbsp;
  </div>

  <input
    type="checkbox"
    class="dark-toggle"
    data-tooltip="Dark mode"
    aria-label="toggle dark mode"
    oninput="onDarkToggleChange(event)"
  >
</footer>
